.card-title {
    font-size: 0.9rem;
    height: 100px;
    border-bottom: 3px solid lightgray;
    padding-top: 5px;
}

.card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: auto;
}

.card-source {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid lightgray;

}

.card-source p {
    font-size: 0.7rem;
}

.card-text {
    font-size: 0.8rem;
    height: 200px;

}